.container__footer {
    // background-color: #C08373;
    background-color: gainsboro;
    text-align: center;
    padding: 20px 0;

    p {
        color: gray;
        font-size: 1.3em;
        font-weight: bold;
    }

}