.container__app_form_form_btn {
    padding: 12px 0;
    text-align: end;

    .container__app_form_form_btns_reg {
        background-color: transparent;
        border: 1px solid gainsboro;
        width: 40%;
        opacity: .8;
        padding: 8px;
        font-size: 1.1em;
        color: #F23D3D;
        border-radius: 3px;
        cursor: pointer;
    }

}