.container__alert{
    background-color: rgb(242, 61, 61,.7);
    padding: 12px 3px;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;

    span{
        font-size: 1.1em;
        font-weight: bold;
    }

}